<header th:fragment="header" class="flex items-center justify-between px-4 py-4 md:px-6">
        <button id="sidebarToggle" class="btn btn-outline md:hidden p-1">
          <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg>
        </button>
        <button id="desktopSidebarToggle" class="hidden md:flex btn btn-outline p-1">
          <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg>
        </button>
        <button id="themeToggle" class="btn btn-outline p-2">
            <span id="themeIcon">☀️</span>
          </button>
</header>